In [1]:
import numpy as np
import pandas as pd
import psycopg2
import sqlalchemy

from matplotlib import pyplot as plt
%matplotlib inline

import seaborn as sns

In [2]:
from sqlalchemy import create_engine

POSTGRES_ADDRESS = '192.168.160.111'

POSTGRES_PORT = '5432' 

POSTGRES_USERNAME = 'postgres'

POSTGRES_PASSWORD = 'jabicopostgres112000'

POSTGRES_DBNAME = 'tagleaf_lims'

# A long string that contains the necessary Postgres login information
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
               .format(username=POSTGRES_USERNAME,
                password=POSTGRES_PASSWORD,
                ipaddress=POSTGRES_ADDRESS,
                port=POSTGRES_PORT,
                dbname=POSTGRES_DBNAME))
#Create the connection

cnx = create_engine(postgres_str)

<h5>Take saved coa_data dataframe that already has some masks added, and add more</h5>

In [3]:
df_coa_data = pd.read_pickle("./pkls/coa_data.pkl")

In [4]:
cannabinoid_and_terpenoid_test_list = []
#cannabinoid_or_terpenoid_test_list = []
heavy_metal_and_terpenoid_test_list = []
#heavy_metal_or_terpenoid_test_list = []
#pesticide_and_mycotoxin_test_list = []
#pesticide_or_mycotoxin_test_list = []
#all_test_list = []

In [11]:
for index, row in df_coa_data.iterrows():
    cannabinoid_and_terpenoid_test_list.append(('cannabinoid_test' in row[0]) & ('terpenoid_test' in row[0]))
    heavy_metal_and_terpenoid_test_list.append(('heavy_metal_test' in row[0]) & ('terpenoid_test' in row[0]))

In [12]:
cannabinoid_and_terpenoid_test_mask = pd.Series(cannabinoid_and_terpenoid_test_list)
heavy_metal_and_terpenoid_test_mask = pd.Series(heavy_metal_and_terpenoid_test_list)

In [13]:
df_coa_data['has_cannabinoid_and_terpenoid_test'] = (cannabinoid_and_terpenoid_test_mask)
df_coa_data['has_heavy_metal_and_terpenoid_test'] = (heavy_metal_and_terpenoid_test_mask)

In [14]:
df_coa_data.describe()

,coa_data,has_cannabinoid_test,has_terpenoid_test,has_pesticide_test,has_residual_solvent_test,has_heavy_metal_test,has_microbial_test,has_mycotoxin_test,has_foreign_material_test,has_homogeneity_test,has_moisture_test,has_water_activity_test,has_cannabinoid_and_terpenoid_test,has_heavy_metal_and_terpenoid_test
count,18506,18506,18506,18506,18506,18506,18506,18506,18506,18506,18506,18506,18506,18506
unique,17086,2,2,2,2,2,2,2,2,2,2,2,2,2
top,{'pesticide_test': {'test_name': 'BCL-05: Resi...,True,False,True,False,False,False,False,False,False,False,False,False,False
freq,25,13476,16687,13036,14588,12046,10879,13100,11870,18488,13644,15453,16802,17027

In [17]:
df_coa_data.to_pickle("./coa_data.pkl")

In [18]:
df_coa_data.columns

Index(['coa_data', 'has_cannabinoid_test', 'has_terpenoid_test',
       'has_pesticide_test', 'has_residual_solvent_test',
       'has_heavy_metal_test', 'has_microbial_test', 'has_mycotoxin_test',
       'has_foreign_material_test', 'has_homogeneity_test',
       'has_moisture_test', 'has_water_activity_test',
       'has_cannabinoid_and_terpenoid_test',
       'has_heavy_metal_and_terpenoid_test'],
      dtype='object')

In [8]:
df_pesticide = df_coa_data[(df_coa_data['has_pesticide_test'] == True)]
print(df_pesticide.shape)
df_pesticide.to_pickle("./pkls/has_pesticide.pkl")

(13036, 14)

In [9]:
df_cannabinoid = df_coa_data[(df_coa_data['has_cannabinoid_test'] == True)]
print(df_cannabinoid.shape)
df_cannabinoid.to_pickle("./pkls/has_cannabinoid.pkl")

(13476, 14)

In [6]:
df_terpenoid = df_coa_data[(df_coa_data['has_terpenoid_test'] == True)]
print(df_terpenoid.shape)
df_terpenoid.to_pickle("./pkls/has_terpenoid.pkl")

(1819, 14)

In [7]:
df_residual_solvent = df_coa_data[(df_coa_data['has_residual_solvent_test'] == True)]
print(df_residual_solvent.shape)
df_residual_solvent.to_pickle("./pkls/has_residual_solvent.pkl")

(3918, 14)

In [10]:
df_heavy_metal = df_coa_data[(df_coa_data['has_heavy_metal_test'] == True)]
print(df_heavy_metal.shape)
df_heavy_metal.to_pickle("./pkls/has_heavy_metal.pkl")

(6460, 14)

In [13]:
df_microbial = df_coa_data[(df_coa_data['has_microbial_test'] == True)]
print(df_microbial.shape)
df_microbial.to_pickle("./pkls/has_microbial.pkl")

(7627, 14)

In [15]:
df_mycotoxin = df_coa_data[(df_coa_data['has_mycotoxin_test'] == True)]
print(df_mycotoxin.shape)
df_mycotoxin.to_pickle("./pkls/has_mycotoxin.pkl")

(5406, 14)

In [18]:
df_foreign_material = df_coa_data[(df_coa_data['has_foreign_material_test'] == True)]
print(df_foreign_material.shape)
df_foreign_material.to_pickle("./pkls/has_foreign_material.pkl")

(6636, 14)

In [19]:
df_homogeneity = df_coa_data[(df_coa_data['has_homogeneity_test'] == True)]
print(df_homogeneity.shape)
df_homogeneity.to_pickle("./pkls/has_homogeneity.pkl")

(18, 14)

In [20]:
df_moisture = df_coa_data[(df_coa_data['has_moisture_test'] == True)]
print(df_moisture.shape)
df_moisture.to_pickle("./pkls/has_moisture.pkl")

(4862, 14)

In [21]:
df_water_activity = df_coa_data[(df_coa_data['has_water_activity_test'] == True)]
print(df_water_activity.shape)
df_water_activity.to_pickle("./pkls/has_water_activity.pkl")

(3053, 14)

In [22]:
df_cannabinoid_and_terpene = df_coa_data[(df_coa_data['has_cannabinoid_and_terpenoid_test'])]
print(df_cannabinoid_and_terpene.shape)
df_cannabinoid_and_terpene.to_pickle("./pkls/has_cannabinoid_and_terpenoid")

(1704, 14)

In [23]:
df_heavy_metal_and_terpene = df_coa_data[(df_coa_data['has_heavy_metal_and_terpenoid_test'])]
print(df_heavy_metal_and_terpene.shape)
df_heavy_metal_and_terpene.to_pickle("./pkls/has_heavy_metal_and_terpenoid")

(1479, 14)

<h5>Get more information from the COA</h5>

In [30]:
df = pd.read_sql_query('''SELECT id, coa_data FROM coas where deleted_at is null;''', cnx)

In [29]:
df.head()

      id                                           coa_data
0  38517  {'foreign_material_test': [{'test_name': 'BCL-...
1  38387  {'cannabinoid_test': [{'test_name': 'BCL-03: C...
2   5109  {'pesticide_test': {'test_name': 'BCL-05: Resi...
3  26098  {'mycotoxin_test': [{'test_name': 'BCL-11: Myc...
4  31848  {'foreign_material_test': [{'test_name': 'BCL-...

In [31]:
pesticide_test_list = []
for index, row in df.iterrows():
    pesticide_test_list.append('pesticide_test' in row[1])
pesticide_test_mask = pd.Series(pesticide_test_list)
df['has_pesticide_test'] = (pesticide_test_mask)
print(df.head())

      id                                           coa_data  \
0  20844  {'moisture_test': [{'test_name': 'BCL-02: Mois...
1  39389  {'cannabinoid_test': [{'test_name': 'BCL-03: C...
2  21151  {'foreign_material_test': [{'test_name': 'BCL-...
3   7768  {'pesticide_test': {'test_name': 'BCL-05: Resi...
4   7989  {'pesticide_test': {'test_name': 'BCL-05: Resi...

   has_pesticide_test
0               False
1               False
2                True
3                True
4                True

In [32]:
df_pest = df[(df['has_pesticide_test'] == True)]

In [33]:
df_pest.shape

(13036, 3)

In [34]:
df_pest.to_pickle('./pkls/has_pesticide2.pkl')

<h1>Lets look at Sample Submission data</h1>

In [39]:
df_sample_submission_data = pd.read_sql_query('''SELECT * FROM sample_submissions WHERE deleted_at IS NULL;''', cnx)

In [40]:
df_sample_submission_data

,id,client_id,name,batch_code,lot_num,sample_type_id,received_at,batch_quantity,batch_quantity_type_id,sampled_quantity,...,serving_size_description,status_updated_at,notes,description,package_size,package_size_unit_id,sent_for_review,due_at,sample_manifest_id,submission_type_id
0,21514,296,8,None,None,1,2019-10-25 01:31:31,2,38,2,...,None,2019-10-27 23:04:57,None,None,NaN,NaN,2019-10-25 13:00:04,2019-10-28 19:00:00,None,1
1,3388,192,CBD TINCTURE,None,None,12,2018-08-20 07:00:00,1,33,1,...,1 bottle,2018-10-21 18:37:11,None,None,NaN,NaN,2018-08-20 20:29:42,NaT,None,1
2,3446,70,18020-A-RE,None,None,1,2018-08-21 07:00:00,2,33,2,...,None,2018-10-29 21:44:32,None,None,NaN,NaN,2018-08-21 23:46:15,NaT,None,1
3,17456,70,RM 1058,None,None,1,2019-08-05 20:35:07,2,33,2,...,None,2019-10-15 16:18:20,None,None,NaN,NaN,2019-08-06 13:00:02,2019-08-12 19:00:00,None,1
4,1566,97,PACIFIC OG,None,None,6,2018-07-18 00:00:00,5,38,5,...,None,2018-09-21 21:20:54,None,None,NaN,NaN,2018-07-18 19:57:46,NaT,None,1
5,21933,724,ISOLATE #7B,None,None,1,2019-11-01 15:05:00,1,33,1,...,None,2019-11-05 17:29:30,"POTENCY OUTSIDE CAL CURVE, REDILUTE - MRH 1911...",None,NaN,NaN,2019-11-03 14:00:04,2019-11-09 20:00:00,None,1
6,3447,70,18018-N-RE,None,None,1,2018-08-21 07:00:00,2,33,2,...,None,2018-10-29 21:44:48,None,None,NaN,NaN,2018-08-21 23:46:31,NaT,None,1
7,16589,238,BROWNIES,None,None,4,2019-07-17 17:28:00,20,33,20,...,1/10 OF A BROWNIE,2019-09-17 22:39:21,None,None,79.0,38.0,2019-07-18 13:00:04,2019-07-20 19:00:00,None,1
8,1567,97,SUPER LEMON HAZE,None,None,6,2018-07-18 00:00:00,5,38,5,...,None,2018-09-21 21:20:54,None,None,NaN,NaN,2018-07-18 19:58:12,NaT,None,1
9,1568,97,Larry OG,None,None,6,2018-07-18 00:00:00,5,38,5,...,None,2018-09-21 21:20:54,None,None,NaN,NaN,2018-07-18 19:59:09,NaT,None,1
10,1569,97,HERIJUANA SM,None,None,6,2018-07-18 00:00:00,5,38,5,...,None,2018-09-21 21:20:54,None,None,NaN,NaN,2018-07-18 19:59:37,NaT,None,1
11,20005,669,GRAND DADDY PURP,GDP092719DEV,None,6,2019-09-27 22:22:00,6,38,6,...,None,2019-10-02 16:50:14,RETEST POTENCY - 191001\r\nPOTENCY GOOD TO GO....,None,NaN,NaN,2019-09-28 13:00:08,2019-10-04 19:00:00,None,1
12,22221,651,SUGAR CONE,88-02-100719-SGC1F,None,6,2019-11-07 23:16:00,4104,38,15,...,None,2019-11-13 21:38:38,Aspergillus detected. Sample will be re-preppe...,None,NaN,NaN,2019-11-08 14:00:07,2019-11-11 20:00:00,None,1
13,1570,97,MISS USA SM,None,None,6,2018-07-18 00:00:00,5,38,5,...,None,2018-09-21 21:20:54,None,None,NaN,NaN,2018-07-18 20:00:53,NaT,None,1
14,16113,309,INFUSED COCONUT OIL-THC-#9,OGE-COCO-3-9,None,11,2019-07-04 16:46:00,3,38,3,...,None,2019-09-07 14:58:54,"REDILUTE, POTENCY OUTSIDE CAL CURVE - MRH 1907...",None,NaN,NaN,2019-07-05 13:00:08,2019-07-11 19:00:00,None,1
15,1571,97,CHERRY AK,None,None,6,2018-07-18 00:00:00,5,38,5,...,None,2018-09-21 21:20:54,None,None,NaN,NaN,2018-07-18 20:01:36,NaT,None,1
16,3625,70,WO-FH3-3,None,None,1,2018-08-24 07:00:00,1,33,1,...,None,2018-11-05 21:15:46,None,None,NaN,NaN,2018-08-24 21:28:08,NaT,None,1
17,16601,587,BOMBAY,None,None,6,2019-07-17 20:43:00,10,38,10,...,None,2019-09-17 22:39:21,None,None,NaN,NaN,2019-07-18 13:00:08,2019-07-19 19:00:00,None,1
18,17555,70,190805-A-WO,None,None,1,2019-08-06 20:26:00,1,33,1,...,None,2019-10-15 16:21:12,None,None,NaN,NaN,2019-08-07 13:00:02,2019-08-09 19:00:00,None,1
19,4153,247,SV505 12/1/18,None,None,14,2018-09-12 07:00:00,1,33,1,...,None,2018-11-14 00:50:01,None,None,NaN,NaN,2018-09-13 00:12:17,NaT,None,1
20,16108,176,KIMBO KUSH,051919AA,None,6,2019-07-04 16:36:00,7,38,7,...,None,2019-09-07 14:58:34,None,None,NaN,NaN,2019-07-05 13:00:02,2019-07-05 19:00:00,None,1
21,1572,97,STRAWBERRY BANANA,None,None,6,2018-07-18 00:00:00,5,38,5,...,None,2018-09-21 21:20:54,None,None,NaN,NaN,2018-07-18 20:02:11,NaT,None,1
22,3983,121,NAN180831-2,None,None,2,2018-09-07 07:00:00,2,38,2,...,None,2018-11-14 02:09:52,None,None,NaN,NaN,2018-09-07 18:11:55,NaT,None,1
23,17542,258,SATIVA,003,None,17,2019-08-06 17:31:00,12,33,12,...,None,2019-10-15 16:21:12,Water activity test was weighed out in duplica...,None,NaN,NaN,2019-08-07 13:00:03,2019-08-13 19:00:00,None,1
24,16158,70,APE,190613-05-FO,None,1,2019-07-05 23:21:00,1700,33,21,...,None,2019-09-07 15:00:46,None,"FULL GRAMS, 1/2 GRAMS AND DISPOSABLE",NaN,NaN,2019-07-06 13:00:02,2019-07-12 19:00:00,None,1
25,16658,583,CM SATIVA,None,None,4,2019-07-17 15:30:00,1,33,1,...,None,2019-09-17 21:55:50,None,None,13711.0,37.0,2019-07-19 17:26:36,2019-07-20 19:00:00,None,1
26,1573,97,GRAPEFRUIT HAZE,None,None,6,2018-07-18 00:00:00,5,38,5,...,None,2018-09-21 21:20:54,None,None,NaN,NaN,2018-07-18 20:02:38,NaT,None,1
27,1575,6,GELATO,None,None,1,2018-07-18 00:00:00,1,38,1,...,None,2018-09-21 21:20:54,None,None,NaN,NaN,2018-07-18 20:03:38,NaT,None,1
28,22323,176,TRIFI OG,090519AA-TRIFI-F-0001,None,6,2019-11-09 01:18:00,22700,38,80,...,None,2019-11-13 19:39:56,"LOW POTENCY, RETEST - MRH 191112\r\nPOTENCY VE...",None,NaN,NaN,2019-11-09 14:00:04,2019-11-15 20:00:00,None,1
29,16160,70,FLO,190610-07-FF,None,1,2019-07-05 23:21:00,800,33,30,...,None,2019-09-07 15:00:46,None,HALF GRAM,NaN,NaN,2019-07-06 13:00:02,2019-07-12 19:00:00,None,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18650,16090,70,190702-N-RE,None,None,1,2019-07-03 22:27:36,3,33,3,...,None,2019-09-07 14:57:23,None,None,NaN,NaN,2019-07-04 13:00:03,2019-07-10 19:00:00,None,1
18651,16089,70,190702-B-RE,None,None,1,2019-07-03 22:27:36,3,33,3,...,None,2019-09-07 14:57:23,None,None,NaN,NaN,2019-07-04 13:00:03,2019-07-10 19:00:00,None,1
18652,16100,37,1A4060300001EDF000001268,1A4060300001EDF000001268,None,1,2019-07-04 00:06:00,1917,33,14,...,None,2019-09-07 14:58:01,None,None,NaN,NaN,2019-07-04 13:00:02,2019-07-08 19:00:00,None,1
18653,16127,309,INFUSED COCNUT OIL-CBD-#5,OGE-CBD-COCO-2-5,None,11,2019-07-04 17:31:00,3,38,3,...,None,2019-09-07 14:59:15,"RETEST, POTENCY OUTSIDE CAL CURVE - MRH 190706...",None,NaN,NaN,2019-07-05 13:00:08,2019-07-11 19:00:00,None,1
18654,16104,281,ORIGINALS-006,ORIGINALS-006,None,6,2019-07-04 00:14:00,4540,38,16,...,None,2019-09-07 14:58:34,None,None,NaN,NaN,2019-07-04 13:00:04,2019-07-08 19:00:00,None,1
18655,16105,485,ZACK'S PIE,1400000000051882,None,6,2019-07-04 00:16:00,21111,38,74,...,None,2019-09-07 14:58:34,None,None,NaN,NaN,2019-07-04 13:00:06,2019-07-08 19:00:00,None,1
18656,16112,309,INFUSED COCONUT OIL-THC-#5,OGE-COCO-3-5,None,11,2019-07-04 16:46:00,3,38,3,...,None,2019-09-07 14:58:54,"REDILUTE, POTENCY OUTSIDE CAL CURVE - MRH 1907...",None,NaN,NaN,2019-07-05 13:00:08,2019-07-11 19:00:00,None,1
18657,16114,309,INFUSED COCONUT OIL-THC-#13,OGE-COCO-3-13,None,11,2019-07-04 17:03:00,3,38,3,...,None,2019-09-07 14:58:54,"REDILUTE, POTENCY OUTSIDE CAL CURVE - MRH 1907...",None,NaN,NaN,2019-07-05 13:00:08,2019-07-11 19:00:00,None,1
18658,16125,309,INFUSED COCNUT OIL-CBD-#1,OGE-CBD-COCO-2-1,None,11,2019-07-04 17:28:00,3,38,3,...,None,2019-09-07 14:59:15,"RETEST, POTENCY OUTSIDE CAL CURVE - MRH 190706...",None,NaN,NaN,2019-07-05 13:00:08,2019-07-11 19:00:00,None,1
18659,16126,309,INFUSED COCNUT OIL-CBD-#3,OGE-CBD-COCO-2-3,None,11,2019-07-04 17:29:00,3,38,3,...,None,2019-09-07 14:59:15,"RETEST, POTENCY OUTSIDE CAL CURVE - MRH 190706...",None,NaN,NaN,2019-07-05 13:00:08,2019-07-11 19:00:00,None,1
18660,16135,481,CERAMIC VC,7519CVC,None,1,2019-07-05 19:24:00,5,33,5,...,None,2019-09-07 14:59:51,FILL 2 WITH HEMP OIL AND LEAVE AT ROOM TEMPERA...,Treatment @ ROOM TEMPERATURE FOR 72 HOURS.,NaN,NaN,2019-07-06 13:00:05,2019-07-12 19:00:00,None,1
18661,16145,573,WA 1,None,None,1,2019-07-05 20:23:00,7,38,7,...,None,2019-09-07 15:00:13,MAY WISH TO CONTINUE WITH CAT 2 OR 3 TESTING S...,None,NaN,NaN,2019-07-06 13:00:07,2019-07-07 19:00:00,None,1
18662,16150,38,THE KIND OIL,6519-TKO,None,1,2019-07-05 20:47:00,14,38,14,...,None,2019-09-07 15:00:13,"RETEST, ODD POTENCY - MRH 190709\r\nPOTENCY VE...",None,NaN,NaN,2019-07-06 13:00:02,2019-07-12 19:00:00,None,1
18663,16152,535,DISTILLATE,None,None,2,2019-07-05 21:36:47,1,33,1,...,None,2019-09-07 15:00:46,None,None,NaN,NaN,2019-07-06 13:00:06,2019-07-10 19:00:00,None,1
18664,16154,483,NYC DIESEL,None,None,6,2019-07-05 22:38:00,1,33,1,...,None,2019-09-07 15:00:46,None,None,NaN,NaN,2019-07-06 13:00:05,2019-07-10 19:00:00,None,1
18665,16155,319,PET OIL 300,1,None,12,2019-07-05 23:00:00,1,33,1,...,None,2019-09-07 15:00:46,None,None,27145.0,37.0,2019-07-06 13:00:04,2019-07-12 19:00:00,None,1
18666,16161,546,OMNIA DISTILLATE,None,None,2,2019-07-05 23:54:00,4,38,4,...,None,2019-09-07 15:01:15,None,None,NaN,NaN,2019-07-06 13:00:06,2019-07-12 19:00:00,None,1
18667,16210,443,7819 PEN SAMPLE,None,None,1,2019-07-09 00:13:13,5,33,5,...,None,2019-09-11 22:24:25,None,None,NaN,NaN,2019-07-09 13:00:05,2019-07-15 19:00:00,None,1
18668,16184,506,CEREAL MILK,None,None,6,2019-07-08 18:17:39,4,38,4,...,None,2019-09-11 22:24:25,None,None,NaN,NaN,2019-07-09 13:00:06,2019-07-11 19:00:00,None,1
18669,16191,70,190705-A-WO-J2,None,None,1,2019-07-08 19:34:55,1,33,1,...,None,2019-09-11 22:24:25,None,None,NaN,NaN,2019-07-09 13:00:02,2019-07-15 19:00:00,None,1
18670,16192,70,190705-A-RE,None,None,1,2019-07-08 19:34:55,3,33,3,...,None,2019-09-11 22:24:25,None,None,NaN,NaN,2019-07-09 13:00:02,2019-07-15 19:00:00,None,1
18671,16189,76,ANIMAL COOKIES,6.8,None,6,2019-07-08 19:21:00,14,38,14,...,None,2019-09-11 22:24:25,None,None,NaN,NaN,2019-07-09 13:00:02,2019-07-15 19:00:00,None,1
18672,16199,396,GCNEW1N,None,None,1,2019-07-08 21:25:10,3,33,3,...,None,2019-09-11 22:24:25,None,None,NaN,NaN,2019-07-09 13:00:05,2019-07-15 19:00:00,None,1
18673,16200,396,GCNEW2N,None,None,1,2019-07-08 21:25:11,3,33,3,...,None,2019-09-11 22:24:25,None,None,NaN,NaN,2019-07-09 13:00:05,2019-07-15 19:00:00,None,1
18674,16201,396,GCNEW1T,None,None,1,2019-07-08 21:25:11,3,33,3,...,None,2019-09-11 22:24:25,None,None,NaN,NaN,2019-07-09 13:00:05,2019-07-15 19:00:00,None,1
18675,16204,396,CRETERP,None,None,1,2019-07-08 21:25:13,2,33,2,...,None,2019-09-11 22:24:25,None,None,NaN,NaN,2019-07-09 13:00:05,2019-07-15 19:00:00,None,1
18676,16206,576,.5 GRAM DISTILLATE CARTRIDGE,None,None,2,2019-07-08 22:50:00,6,33,6,...,None,2019-09-11 22:24:25,None,None,NaN,NaN,2019-07-09 13:00:06,2019-07-15 19:00:00,None,1
18677,16213,296,ZC,None,None,6,2019-07-09 00:59:00,4,38,4,...,None,2019-09-11 22:24:25,None,None,NaN,NaN,2019-07-09 13:00:03,2019-07-10 19:00:00,None,1
18678,16215,296,JCF,None,None,6,2019-07-09 00:59:00,2,38,2,...,None,2019-09-11 22:24:25,None,None,NaN,NaN,2019-07-09 13:00:03,2019-07-10 19:00:00,None,1
18679,16214,296,SSF,None,None,6,2019-07-09 00:59:00,2,38,2,...,None,2019-09-11 22:24:25,None,None,NaN,NaN,2019-07-09 13:00:03,2019-07-10 19:00:00,None,1

In [96]:
df_test = pd.read_sql_query('''SELECT co.compliance_version, co.sample_submission_id, s.name, s.client_id, 
c.organization_name, s.sample_type_id, s.properties, co.coa_data from clients c 
join sample_submissions s on c.id=s.client_id join coas co on s.id=co.sample_submission_id 
where c.id not in (1, 7, 17) and co.deleted_at is null order by s.sample_type_id;''', cnx)

In [6]:
#df_test = pd.read_sql_query('''select c.id, co.*, s.sample_type_id, c.organization_name from clients c 
#join sample_submissions s on c.id=s.client_id join coas co on s.id=co.sample_submission_id
#where c.id !=17 and s.sample_type_id not in(16, 17, 18, 19, 20) and co.deleted_at is null order by s.sample_type_id;''', cnx)

In [97]:
df_test.head(20)

,compliance_version,sample_submission_id,name,client_id,organization_name,sample_type_id,properties,coa_data
0,2018-07-01,3447,18018-N-RE,70,"AureusDHS,LLC",1,{'tests_info': {'tests': {'terpenoid_test': [{...,{'cannabinoid_test': {'results': {'CBGA': {'an...
1,2019-01-17,16158,APE,70,"AureusDHS,LLC",1,"{'label_values': [], 'compliance_type': 'adult...",{'heavy_metal_test': [{'results': {'Cadmium': ...
2,2019-01-17,17013,LB0037,485,TOLUCA LAKE COLLECTIVE / TLC JUNGLE BOYS,1,"{'label_values': [], 'compliance_type': 'adult...",{'heavy_metal_test': [{'results': {'Cadmium': ...
3,2018-07-01,1578,LEMON MINT,6,Pure CA LLC DBA Moxie,1,"{'thc_cbd_ratio': None, 'tests_ordered': 'CA C...",{'cannabinoid_test': {'results': {'CBGA': {'an...
4,2019-01-17,17415,CALIFORNIACITRUS_FG,418,DOM PEN,1,"{'label_values': [], 'compliance_type': 'adult...",{'heavy_metal_test': [{'results': {'Cadmium': ...
5,2019-01-17,11832,AVDOC1020RSS,445,AVD PRO,1,"{'matrix_subtype': None, 'review_sent_by': 'Di...",{'heavy_metal_test': [{'results': {'Cadmium': ...
6,2019-01-17,12179,NORMAL 2.0 UNCAPPED,445,AVD PRO,1,"{'matrix_subtype': None, 'review_sent_by': 'Di...",{'heavy_metal_test': [{'results': {'Cadmium': ...
7,2019-01-17,21474,BISCOTTI CRUMBLE,697,FOG CITY EXTRACTS,1,"{'increments': None, 'compliance_type': 'adult...",{'heavy_metal_test': [{'results': {'Cadmium': ...
8,2019-01-17,16411,FLOOR 2- EXHAUST VENT,296,JB LOS ANGELES,1,"{'label_values': [], 'compliance_type': 'adult...",{'pesticide_test': [{'results': {'Methyl parat...
9,2019-01-17,23047,BZ #004 DE-CARB,104,City Compassionate Caregivers,1,"{'label_values': [], 'increments': None, 'comp...",{'pesticide_test': [{'results': {'Methyl parat...
10,2019-01-17,14643,WF-FILLED CARTS- 0.5G SOUR DIESEL (1:1),309,CA Cannabis Factory QA,1,"{'matrix_subtype': None, 'review_sent_by': 'Di...",{'heavy_metal_test': [{'results': {'Cadmium': ...
11,2019-01-17,16413,ROOM 6- FLOOR/CORNER,296,JB LOS ANGELES,1,"{'label_values': [], 'compliance_type': 'adult...",{'pesticide_test': [{'results': {'Methyl parat...
12,2019-01-17,16415,ROOM 6 - AC UNIT,296,JB LOS ANGELES,1,"{'label_values': [], 'compliance_type': 'adult...",{'pesticide_test': [{'results': {'Methyl parat...
13,2018-07-01,5635,T101804,130,Loud Pack QA,1,"{'label_values': [], 'tests_info': {'kind': ['...",{'pesticide_test': {'results': {'Abamectin': {...
14,2018-07-01,7148,T111902,130,Loud Pack QA,1,"{'label_values': [], 'tests_ordered': 'QA: PES...",{'pesticide_test': [{'results': {'Abamectin': ...
15,2018-01-01,66,Lemon Cookies Shatter,6,Pure CA LLC DBA Moxie,1,"{'tests_ordered': 'Potency & Pesticides', 'tes...",{'cannabinoid_test': {'results': {'CBN': {'ana...
16,2018-07-01,7135,1015-2B,130,Loud Pack QA,1,"{'label_values': [], 'tests_ordered': 'QA: POT...",{'cannabinoid_test': [{'results': {'CBGA': {'a...
17,2018-01-01,71,OMIX-01,20,Synergy Management LLC,1,"{'tests_ordered': 'Potency, Pesticide', 'tests...",{'cannabinoid_test': {'results': {'CBN': {'ana...
18,2018-07-01,7146,36C0EF80C1207B-1,130,Loud Pack QA,1,"{'label_values': [], 'tests_ordered': 'QA: POT...",{'cannabinoid_test': [{'results': {'CBGA': {'a...
19,2018-01-01,154,Slymer,6,Pure CA LLC DBA Moxie,1,"{'tests_ordered': 'CA COMPLIANCE: Po, Pest, So...",{'cannabinoid_test': {'results': {'CBN': {'ana...

In [72]:
pd.Index(df_test['compliance_version']).value_counts()

2019-01-17    11730
2018-07-01     5706
2018-12-31      531
2018-01-01      400
Name: compliance_version, dtype: int64

In [94]:
df_test.groupby(['client_id', 'sample_type_id']).count().nlargest(20, 'compliance_version')
#df_test.groupby(['client_id', 'sample_type_id']).count()

                          compliance_version  sample_submission_id  coa_data  \
client_id sample_type_id
70        1                             2197                  2197      2197
130       1                              586                   586       586
529       6                              496                   496       496
104       6                              368                   368       368
296       1                              347                   347       347
83        1                              287                   287       287
461       1                              272                   272       272
97        6                              251                   251       251
309       1                              223                   223       223
37        1                              220                   220       220
651       6                              218                   218       218
485       6                              206                   206       206
          1                              195                   195       195
506       6                              187                   187       187
370       1                              179                   179       179
6         1                              177                   177       177
20        1                              175                   175       175
99        6                              174                   174       174
374       1                              160                   160       160
170       6                              153                   153       153

                          properties  name
client_id sample_type_id
70        1                     2197  2197
130       1                      586   586
529       6                      496   496
104       6                      368   368
296       1                      347   347
83        1                      287   287
461       1                      272   272
97        6                      251   251
309       1                      223   223
37        1                      220   220
651       6                      218   218
485       6                      206   206
          1                      195   195
506       6                      187   187
370       1                      179   179
6         1                      177   177
20        1                      175   175
99        6                      174   174
374       1                      160   160
170       6                      153   153

In [90]:
pd.Index(df_test['name']).value_counts()

RAW DISTILLATE                110
PURPLE PUNCH                   73
WEDDING CAKE                   60
GELATO                         60
BLUE DREAM                     55
OG                             51
SKYWALKER                      49
SOUR DIESEL                    43
GORILLA GLUE                   38
STRAWBERRY BANANA              38
TANGIE                         36
OG KUSH                        35
MIMOSA                         34
DISTILLATE                     34
COOKIES                        33
JACK HERER                     31
SUNSET SHERBERT                27
AREA 41                        27
FIRE OG                        26
PINEAPPLE EXPRESS              26
WAUI                           24
MENDO BREATH                   24
GLUE                           24
BISCOTTI                       24
GG4                            23
KUSH                           23
FD                             22
MONSTER COOKIES                20
KING LOUIE                     20
CBD ISOLATE                    20
                             ...
DISTILLATE AA06                 1
YOLO SHOT SOUR FRUIT PUNCH      1
NP1-00078HMP-00018              1
AH1N                            1
GUMMY HEARTS                    1
COFFEE - 12.9                   1
4G PREROLL 0.7 GRAMS            1
FOB Invader OG LRS              1
CAVI J KING CAVI OG             1
1 GRAM SHARK SHOCK              1
SOKO- RESERVE OG                1
190224-N-RE                     1
Post Extract K                  1
R&D #2B                         1
CA-031318-MPP1.3-029            1
GELATO #45 51                   1
SERENITY INDICA 3.5G PK         1
FL092019DB0883                  1
V9(GB)-0                        1
CRUDE #2B WINTERIZED            1
DHS-8                           1
T101002                         1
PGT13                           1
C15.E                           1
BATCH 0003                      1
CBNA2 - 440 REBAKE              1
190121-A-WO-2                   1
1A4060300001EDF000001268        1
10 LB 4 CYCLE 2&1               1
LHSC-DIS-CBD-190906-2           1
Name: name, Length: 13837, dtype: int64

<h5>Need to creat new mask for test</h5>

In [17]:
cannabinoid_test_list = []
terpenoid_test_list = []
pesticide_test_list = []
residual_solvent_test_list = []
heavy_metal_test_list = []
microbial_test_list = []
mycotoxin_test_list = []
foreign_material_test_list = []
homogeneity_test_list = []
moisture_test_list = []
water_activity_test_list = []

for index, row in df_test.iterrows():
    #print(row)
    cannabinoid_test_list.append('cannabinoid_test' in row['coa_data'])
    terpenoid_test_list.append('terpenoid_test' in row['coa_data'])
    pesticide_test_list.append('pesticide_test' in row['coa_data'])
    residual_solvent_test_list.append('residual_solvent_test' in row['coa_data'])
    heavy_metal_test_list.append('heavy_metal_test' in row['coa_data'])
    microbial_test_list.append('microbial_test' in row['coa_data'])
    mycotoxin_test_list.append('mycotoxin_test' in row['coa_data'])
    foreign_material_test_list.append('foreign_material_test' in row['coa_data'])
    homogeneity_test_list.append('homogeneity_test' in row['coa_data'])
    moisture_test_list.append('moisture_test' in row['coa_data'])
    water_activity_test_list.append('water_activity_test' in row['coa_data'])

In [20]:
cannabinoid_test_mask = pd.Series(cannabinoid_test_list)
terpenoid_test_mask = pd.Series(terpenoid_test_list)
pesticide_test_mask = pd.Series(pesticide_test_list)
residual_solvent_test_mask = pd.Series(residual_solvent_test_list)
heavy_metal_test_mask = pd.Series(heavy_metal_test_list)
microbial_test_mask = pd.Series(microbial_test_list)
mycotoxin_test_mask = pd.Series(mycotoxin_test_list)
foreign_material_test_mask = pd.Series(foreign_material_test_list)
homogeneity_test_mask = pd.Series(homogeneity_test_list)
moisture_test_mask = pd.Series(moisture_test_list)
water_activity_test_mask = pd.Series(water_activity_test_list)

df_test['has_cannabinoid_test'] = (cannabinoid_test_mask)
df_test['has_terpenoid_test'] = (terpenoid_test_mask)
df_test['has_pesticide_test'] = (pesticide_test_mask)
df_test['has_residual_solvent_test'] = (residual_solvent_test_mask)
df_test['has_heavy_metal_test'] = (heavy_metal_test_mask)
df_test['has_microbial_test'] = (microbial_test_mask)
df_test['has_mycotoxin_test'] = (mycotoxin_test_mask)
df_test['has_foreign_material_test'] = (foreign_material_test_mask)
df_test['has_homogeneity_test'] = (homogeneity_test_mask)
df_test['has_moisture_test'] = (moisture_test_mask)
df_test['has_water_activity_test'] = (water_activity_test_mask)

In [21]:
df_canna = df_test[(df_test['has_cannabinoid_test']) == True]

In [27]:
df_canna['sample_type_id'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 11, 12, 13, 14, 15, 16, 17, 18])

In [30]:
df_cannabinoid_test_data = pd.DataFrame()
not_included = 0
for index, row in df_canna.iterrows():
    is_dict = type(row['coa_data']['cannabinoid_test']) is dict
    #print('is_dict', is_dict)
    canna_results = row['coa_data']['cannabinoid_test']['results'] if is_dict else row['coa_data']['cannabinoid_test'][0]['results']
    #print(canna_results)
    if (type(canna_results) is not dict):
        not_included += 1
        continue
    temp_df = pd.DataFrame.from_dict(canna_results)
    temp_df = temp_df[temp_df.index == 'amount'].reset_index()
    temp_df['sample_submission_id'] = row['sample_submission_id']
    temp_df['sample_type_id'] = row['sample_type_id'] 
    temp_df['compliance_version'] = row['compliance_version']
    temp_df['name'] = row['name']
    temp_df['client_id']
    df_cannabinoid_test_data = df_cannabinoid_test_data.append(temp_df, ignore_index = True)
    #df_cannabinoid_test_data['sample_submission_id'] = row['sample_submission_id']
    #df_cannabinoid_test_data['sample_type_id'] = row['sample_type_id']
print(not_included)
print(df_cannabinoid_test_data.head())

/anaconda3/lib/python3.5/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

3
     CBC CBCA CBD CBD Per Package CBD Per Serving CBDA CBDV CBDVA    CBG  \
0  0.979    0   0             NaN             NaN    0    0     0      0
1      0    0   0             NaN             NaN    0    0     0   1.71
2      0    0   0             NaN             NaN    0    0     0  1.618
3      0    0   0             NaN             NaN    0    0     0      0
4  1.502    0   0             NaN             NaN    0    0     0  2.139

    CBGA      ...       THCV THCVA Total CBD Total CBD Per Serving Total THC  \
0      0      ...          0     0         0                   NaN     43.63
1      0      ...          0     0         0                   NaN    42.691
2      0      ...          0     0         0                   NaN    52.787
3  2.587      ...          0     0         0                   NaN   77.2286
4      0      ...          0     0         0                   NaN   78.6016

  Total THC Per Package Total THC Per Serving   index sample_submission_id  \
0                   NaN                   NaN  amount                 5374
1                   NaN                   NaN  amount                 5673
2                   NaN                   NaN  amount                 5674
3                   NaN                   NaN  amount                 6583
4                   NaN                   NaN  amount                 6535

  sample_type_id
0              1
1              1
2              1
3              1
4              1

[5 rows x 31 columns]

In [50]:
df_cannabinoid_test_data[(df_cannabinoid_test_data['sample_type_id']) == 18].count()

CBC                        214
CBCA                       214
CBD                        214
CBD Per Package              0
CBD Per Serving              0
CBDA                       214
CBDV                       214
CBDVA                      214
CBG                        214
CBGA                       214
CBN                        214
Delta-8-THC                214
Delta-9-THC                214
Delta-9-THC Per Package      0
Delta-9-THC Per Serving      0
THC                          0
THC Per Serving              0
THC:CBD Ratio                0
THCA                       214
THCA Per Package             0
THCA Per Serving             0
THCV                       214
THCVA                      214
Total CBD                  214
Total CBD Per Serving        0
Total THC                  214
Total THC Per Package        0
Total THC Per Serving        0
index                      214
sample_submission_id       214
sample_type_id             214
dtype: int64

In [53]:
df_cannabinoid_test_data[(df_cannabinoid_test_data['sample_type_id']) == 1]

,CBC,CBCA,CBD,CBD Per Package,CBD Per Serving,CBDA,CBDV,CBDVA,CBG,CBGA,...,THCV,THCVA,Total CBD,Total CBD Per Serving,Total THC,Total THC Per Package,Total THC Per Serving,index,sample_submission_id,sample_type_id
0,0.979,0,0,NaN,NaN,0,0,0,0,0,...,0,0,0,NaN,43.63,NaN,NaN,amount,5374,1
1,0,0,0,NaN,NaN,0,0,0,1.71,0,...,0,0,0,NaN,42.691,NaN,NaN,amount,5673,1
2,0,0,0,NaN,NaN,0,0,0,1.618,0,...,0,0,0,NaN,52.787,NaN,NaN,amount,5674,1
3,0,0,0,NaN,NaN,0,0,0,0,2.587,...,0,0,0,NaN,77.2286,NaN,NaN,amount,6583,1
4,1.502,0,0,NaN,NaN,0,0,0,2.139,0,...,0,0,0,NaN,78.6016,NaN,NaN,amount,6535,1
5,1.485,0,0,NaN,NaN,0,0,0,2.087,0,...,0,0,0,NaN,78.4296,NaN,NaN,amount,6536,1
6,1.296,0,0,NaN,NaN,0,0,0,1.469,0,...,0,0,0,NaN,59.3596,NaN,NaN,amount,6682,1
7,1.323,0,1.115,NaN,NaN,0,0,0,1.729,0,...,0,0,1.115,NaN,57.8545,NaN,NaN,amount,6683,1
8,1.257,0,0,NaN,NaN,0,0,0,1.562,0,...,0,0,0,NaN,60.6036,NaN,NaN,amount,6748,1
9,1.227,0,0,NaN,NaN,0,0,0,2.028,0,...,0,0,0,NaN,82.7609,NaN,NaN,amount,6749,1
10,0.894,0,0,NaN,NaN,0,0,0,4.357,0,...,0,0,0,NaN,73.524,NaN,NaN,amount,6582,1
11,0.697,0,0,NaN,NaN,0,0,0,4.364,0,...,0,0,0,NaN,73.645,NaN,NaN,amount,6586,1
12,1.183,0,0,NaN,NaN,0,0,0,4.019,0,...,0,0,0,NaN,87.105,NaN,NaN,amount,6816,1
13,3.293,0,0,NaN,NaN,0,0,0,2.43,0,...,0,0,0,NaN,82.776,NaN,NaN,amount,6872,1
14,0.868,0,0,NaN,NaN,0,0,0,1.694,0,...,0,0,0,NaN,89.5286,NaN,NaN,amount,6896,1
15,0.875,0,0,NaN,NaN,0,0,0,1.705,0,...,0,0,0,NaN,89.573,NaN,NaN,amount,6897,1
16,0.971,0,0,NaN,NaN,0,0,0,1.811,0,...,0,0,0,NaN,92.0899,NaN,NaN,amount,6856,1
17,0.893,0,0,NaN,NaN,0,0,0,1.791,0,...,0,0,0,NaN,87.9994,NaN,NaN,amount,6857,1
18,0.931,0,0,NaN,NaN,0,0,0,2.393,0,...,0,0,0,NaN,83.0647,NaN,NaN,amount,6858,1
19,1.113,0,0,NaN,NaN,0,0,0,2.115,0,...,0,0,0,NaN,69.5725,NaN,NaN,amount,6860,1
20,1.209,0,0,NaN,NaN,0,0,0,2.118,0,...,0,0,0,NaN,82.9886,NaN,NaN,amount,6861,1
21,0,0,0,NaN,NaN,0,0,0,1.151,0,...,0,0,0,NaN,79.415,NaN,NaN,amount,6638,1
22,0,0,0,NaN,NaN,0,0,0,0,1.101,...,0,0,0,NaN,75.0075,NaN,NaN,amount,6868,1
23,0,0,0,NaN,NaN,0,0,0,0,1.093,...,0,0,0,NaN,76.7513,NaN,NaN,amount,6869,1
24,1.129,0,0,NaN,NaN,0,0,0,2.391,0,...,0,0,0,NaN,76.33,NaN,NaN,amount,6871,1
25,0,0,0,NaN,NaN,0,0,0,0,1.631,...,0,0.845,0,NaN,77.8774,NaN,NaN,amount,6866,1
26,0,5.514,0,NaN,NaN,0,0,0,0,2.549,...,0,0,0,NaN,71.7446,NaN,NaN,amount,6831,1
27,1.77,0,0,NaN,NaN,0,0,0,1.976,0,...,0,0,0,NaN,73.66,NaN,NaN,amount,6832,1
28,0,0,0,NaN,NaN,0,0,0,0,4.783,...,0,1.119,0,NaN,64.1654,NaN,NaN,amount,6993,1
29,2.13,0,2.68,NaN,NaN,0.836,0,0,1.62,0,...,0,0,3.41317,NaN,84.3469,NaN,NaN,amount,7082,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5349,1.824,0,0,NaN,NaN,0,0,0,1.153,0,...,0,0,0,NaN,67.1067,NaN,NaN,amount,4278,1
5350,0,1.958,0,NaN,NaN,0,0,0,0,1.874,...,0,0,0,NaN,72.7212,NaN,NaN,amount,4231,1
5351,0.59979,0.35081,0.07804,NaN,NaN,0.12833,0,0,0.93422,0.82164,...,0.31108,0,0.190585,NaN,57.7542,NaN,NaN,amount,22655,1
5352,2.68903,0,44.1483,NaN,NaN,0,0,0,1.83152,0,...,0,0.14957,44.1483,NaN,2.51727,NaN,NaN,amount,22698,1
5353,3.748,0,65.985,NaN,NaN,0.24138,0,0,1.04211,0,...,0,0.06186,66.1967,NaN,2.39929,NaN,NaN,amount,22700,1
5354,0,0.83372,0,0,NaN,0.23722,0,0,0.40287,2.64009,...,0,0.34179,0.208042,NaN,68.9941,689.94,NaN,amount,22628,1
5355,0,0,0,NaN,0,0,0,0,0,0.197,...,0,0,0,NaN,11.7859,NaN,9.43,amount,9287,1
5356,0.742,0,0,NaN,0,0,0,0,0,0.717,...,0,0,0,NaN,80.4992,NaN,NaN,amount,4271,1
5357,0,0,98.4951,NaN,NaN,0,0.32299,0,0,0,...,0,0,98.4951,NaN,0,NaN,NaN,amount,22696,1
5358,0,0,0,NaN,NaN,0,0,0,0,2.906,...,0,0,0,NaN,81.7072,NaN,NaN,amount,4681,1
5359,0,1.98873,0,0,NaN,0.25424,0,0,0.58997,2.77119,...,0,0.50703,0.222968,NaN,68.5595,685.59,NaN,amount,22627,1
5360,1.00346,0,0,NaN,NaN,0,0,0,2.83449,0,...,0,0,0,NaN,83.9035,NaN,NaN,amount,12521,1
5361,0,1.588,0,NaN,NaN,0,0,0,0,0,...,0,0.839,0,NaN,77.4483,NaN,NaN,amount,4935,1
5362,0.70124,3.05074,7.83246,NaN,NaN,43.1832,0.12356,0.43403,0.32561,2.01118,...,0,0,45.7041,NaN,1.67056,NaN,NaN,amount,22841,1
5363,1.413,0,0,NaN,NaN,0,0,0,1.619,0,...,0,0,0,NaN,85.759,NaN,NaN,amount,4898,1
5364,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,...,NaN,NaN,0,NaN,70.7471,NaN,NaN,amount,244,1
5365,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,...,NaN,NaN,0,NaN,78.7899,NaN,NaN,amount,245,1
5366,NaN,NaN,94.389,NaN,NaN,0,NaN,NaN,0,NaN,...,NaN,NaN,94.389,NaN,0,NaN,NaN,amount,246,1
5367,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,...,NaN,NaN,0,NaN,75.8205,NaN,NaN,amount,249,1
5368,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,...,NaN,NaN,0,NaN,83.5865,NaN,NaN,amount,250,1
5369,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,...,NaN,NaN,0,NaN,88.4941,NaN,NaN,amount,251,1
5370,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,...,NaN,NaN,0,NaN,69.4,NaN,NaN,amount,252,1
5371,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,...,NaN,NaN,0,NaN,80.2639,NaN,NaN,amount,253,1
5372,NaN,NaN,0,NaN,NaN,0,NaN,NaN,1.294,NaN,...,NaN,NaN,0,NaN,61.7767,NaN,NaN,amount,256,1
5373,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,...,NaN,NaN,0,NaN,56.9638,NaN,NaN,amount,257,1
5374,NaN,NaN,0,NaN,NaN,0,NaN,NaN,1.247,NaN,...,NaN,NaN,0,NaN,65.8851,NaN,NaN,amount,258,1
5375,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,...,NaN,NaN,0,NaN,60.2461,NaN,NaN,amount,259,1
5376,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,...,NaN,NaN,0,NaN,82.3791,NaN,NaN,amount,260,1
5377,NaN,NaN,0,NaN,NaN,0,NaN,NaN,1.625,NaN,...,NaN,NaN,0,NaN,71.0969,NaN,NaN,amount,261,1
5378,NaN,NaN,0,NaN,NaN,0,NaN,NaN,1.576,NaN,...,NaN,NaN,0,NaN,68.8497,NaN,NaN,amount,262,1

In [64]:
pd.Index(df_cannabinoid_test_data['sample_type_id']).value_counts()

1     5379
6     4957
4      988
2      414
17     288
13     269
18     214
12     156
14     155
3      149
15     132
8      126
11     111
9       23
5       18
16      10
7        4
Name: sample_type_id, dtype: int64